<launch>
    <param name="/use_sim_time" value="true" />

    <node pkg="object_detection" type="det3d_mmdetection3d.py" name="det3d_mmdetection3d" output="screen" />
    
    <node pkg="tf" type="static_transform_publisher" name="world_map_broadcaster" args="0 0 0 0 0 0 1 /world /map 100" />
    
    <node pkg="tf" type="static_transform_publisher" name="map_baselink_broadcaster" args="0 0 0 0 0 0 1 /map /baselink 100" />
   
    <node pkg="tf" type="static_transform_publisher" name="baselink_velodyne_broadcaster" args="0 0 0 0 0 0 1 /baselink /velodyne 100" />

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find object_detection)/det.rviz" />
    </group>

</launch>
