<launch>
    <param name="use_sim_time" value="false" />

    <node name="kittiHelper" pkg="aloam_velodyne" type="kittiHelper" output="screen"> 
        <param name="sequence_number" type="string" value="04" />
        <param name="dataset_folder" type="string" value="/home/wenyu/data/kitti_odometry/dataset/" />
        <param name="to_bag" type="bool" value="false" />
        <param name="output_bag_file" type="string" value="/home/wenyu/" /> <!-- replace with your output folder -->
        <param name="publish_delay" type="int" value="1" />
    </node>
</launch>